/* REGLES DE BASE */

body {
    margin: 0;
}

/* CONSTRUCTION DE LA GRILLE */

.map{
    overflow: hidden;
    background: #bcc3c6;
    margin-top: 50px;
    border-left: 2px solid #7D3232;
    border-top: 2px solid #7D3232;
    border-bottom: 2px solid #7D3232;
    display: grid;
    width: 300%;
    height: 70vh;
    grid-template-columns: repeat(60, calc(100% / 60));
    grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-gap: 0;
    grid-template-areas:
        "lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1 lane1"
        ". . . . . corridor1 . . . . . . . . . . . . . . . . . . . . . . . . . corridor2 . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
        "lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2 lane2"
        ". . . . corridor3 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
        "lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3 lane3"
        ". . . corridor4 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . corridor5 . . . . . . . . . . . . . . . . . . . . . ."
        "lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4 lane4"
        ". . . corridor6 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.lane1{
    grid-area: lane1;
}

.lane2{
    grid-area: lane2;
}

.lane3{
    grid-area: lane3;
}

.lane4{
    grid-area: lane4;
}
.lane5{
    grid-area: lane5;
}

.corridor1 {
    grid-area: corridor1;
}

.corridor2 {
    grid-area: corridor2;
}

.corridor3 {
    grid-area: corridor3;
}

.corridor4 {
    grid-area: corridor4;
}

.corridor5 {
    grid-area: corridor5;
}

.corridor6 {
    grid-area: corridor6;
}
.corridor7 {
    grid-area: corridor7;
}
.corridor8 {
    grid-area: corridor8;
}
.corridor9 {
    grid-area: corridor9;
}

/* AUTRES REGLES DE STYLE */

div[class^=lane], div[class^=corridor]{
    background: #bcc3c6;
    position: relative;
}

div[class^=lane] {
    background-image: url('../images/lane_background.png');
    background-size: contain;
}

div[class^=corridor]{
    z-index: 1000;
    position: relative;
}

div[class^=corridor] img{

}

div[class^=corridor] img:first-of-type{
    position: absolute;
    height: 11vh;
    bottom: 280%;
}

div[class^=corridor] img:nth-of-type(2){
    position: absolute;
    height: 11vh;
    top: 390%;
    filter: opacity(0.5)
}
.gg {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #DCD654;
    color: white;
    text-shadow: 2px #DBB838;
    font-size: 30vh;
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    transition: 0.2s all ease-in-out;
}

.hud {
    position: fixed;
    top: 0;
}

.fadeOut {
    display: none;
    opacity: 0;
}